* {
    background-color: wheat;
}

p {
    background-color: aquamarine;
}

/*pseudo selektory*/

#par1::before,
#par1::after {
    content: '*';
    color: #fff;
    font-size: 3em;
}

#par2::first-letter {
    color: yellow;
}

#par1::first-line {
    color: yellow;
}

/*psaudo klasy*/

a:link {
    color: #444;
}

a:visited {
    color:#000;
}

a:active {
    font-size: 22px;
}

a:hover {
    background-color: red;
    font-size: 18px;
}

input:focus {
    background-color: green;
}

p:target {
    color:
}

li:first-child {
    font-size: 2em;
}

li:last-child {
    font-size: 2em;
}

p span:only-child {
    font-size: 2em;
}

div:empty {
    background-color:black;
    width:400px;
    height: 400px;
}

li:nth-child(odd) {
    background-color: purple;
}